# Download and Read The Dataset

In [48]:
import pandas as pd
df = pd.read_csv("C:/Users/dswinde/OneDrive - The University of Western Ontario/Documents/VSPY/RoboGarden/Module-3/KaggleV2-May-2016.csv")
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [49]:
#Check for NA Values and drop them if neccessary
#Does the dataset include any missing values? If so, drop them
before_drop = df.shape
print('Shape Before NA Drop: ', before_drop)
df.dropna
after_drop = df.shape
print("Shape After NA Drop: ", after_drop)
if before_drop == after_drop:
    print("No NA Values detected")
else:
    print("NA Values have been dropped")

Shape Before NA Drop:  (110527, 14)
Shape After NA Drop:  (110527, 14)
No NA Values detected

# Feature Detection

In [50]:
# Extract the following features:
# Gender, Age, Scholarship, Hipertension, Diabetes, Alcoholism, Handcap, SMS_received
# Note: you may see that some datasets names are not written using proper spelling. It is related to the dataset, for example: Hipertension=Hypertension, Handcap=Handicap
print(df.dtypes)
extracted = df[['Age', 'Scholarship', 'Hipertension', 'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received']]
target = df[['No-show']]

PatientId         float64
AppointmentID       int64
Gender             object
ScheduledDay       object
AppointmentDay     object
Age                 int64
Neighbourhood      object
Scholarship         int64
Hipertension        int64
Diabetes            int64
Alcoholism          int64
Handcap             int64
SMS_received        int64
No-show            object
dtype: object

# Preproccessing

In [51]:
# Perform any needed preprocessing of the chosen features, including: Scaling, Encoding, Dealing with NaN values
# Hint: use only the preprocessing steps you believe are useful.
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
extracted[['Age']] = scaler.fit_transform(extracted[['Age']])
#extracted.iloc[:, 0] = scaler.fit_transform(extracted.iloc[:,0])

#target = pd.get_dummies(target, dtype=int)
#extracted_df = pd.concat([extracted, target], axis = 1)
# nan values
print("Are the any NAN Values?:",extracted.isnull().values.any())

extracted

Are the any NAN Values?: False

C:\Users\dswinde\AppData\Local\Temp\ipykernel_5652\1975196859.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  extracted[['Age']] = scaler.fit_transform(extracted[['Age']])

,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,1.077932,0,1,0,0,0,0
1,0.818306,0,0,0,0,0,0
2,1.077932,0,0,0,0,0,0
3,-1.258708,0,0,0,0,0,0
4,0.818306,0,1,1,0,0,0
...,...,...,...,...,...,...,...
110522,0.818306,0,0,0,0,0,1
110523,0.601950,0,0,0,0,0,1
110524,-0.696184,0,0,0,0,0,1
110525,0.039425,0,0,0,0,0,1
110526,0.731763,0,0,0,0,0,1

# Splitting The Data

In [52]:
# Split your data as follows: 80% training set, 10% validation set, 10% test set
from sklearn.model_selection import train_test_split
encoded_y = target.values
encoded_X = extracted.iloc[:, 0:]
X_train, X_test, y_train, y_test = train_test_split(encoded_X, encoded_y, test_size=0.1, train_size=0.8, random_state=0)
X_train, X_validate, y_train, y_validate = train_test_split(encoded_X, encoded_y, test_size=0.1,train_size=0.8, random_state=0)

# Training Tree-based Classifiers

In [57]:
# Use a decision tree classifier model to train your data.
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(criterion='gini', splitter='best')
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print(y_pred)

#Print the accuracy score of your final classifier.
score = model.score(X_test,y_test)
print(score)

['No' 'No' 'No' ... 'No' 'No' 'No']
0.8004161766036371

In [54]:
# Print the confusion matrix.
from sklearn.metrics import confusion_matrix
conf = confusion_matrix(y_test, y_pred)
print(conf)

[[8828   50]
 [2156   19]]

# Random Forest

In [ ]:
# Repeat step 6.
#Increase/decrease the number of estimators in random forest and comment on the difference of the classification metrics.
from sklearn.ensemble import RandomForestClassifier 
model = RandomForestClassifier(n_estimators=10, criterion='gini')#n_estimators between 1-10: 10 gives the best result at 0.8, 2nd best is 7 at0.799
# changing the criterion does not appear to effect the results
model.fit(X_train, y_train)
score = model.score(X_test,y_test)
print(score)
from sklearn.metrics import confusion_matrix
conf = confusion_matrix(y_test, y_pred)
print(conf)

c:\Users\dswinde\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

0.7993304985071926
[[8828   50]
 [2156   19]]